# 全局忽略
*
*/

# 根目录文件白名单
!.gitignore
!.gitsubmodules
!README.org
!LICENSE
!fonts

# 子目录文件白名单
!resume/
!resume/**/
!resume/**/*.tex
!resume/**/*.latexmkrc
!resume/**/*.sty
!resume/**/*.bib
!resume/figures/*.jpg
!resume/figures/*.eps

# 全局黑名单
tmp/
*~
*#*